@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --text: 13 11 15;
    --background: 232 228 236;
    --primary: 238 115 63;
    --secondary: 149 55 104;
    --accent: 153 81 225;
  }
  .dark {
    --text: 242 240 244;
    --background: 23 19 27;
    --primary: 192 69 17;
    --secondary: 200 106 155;
    --accent: 102 30 174;
  }

  body {
    @apply font-body text-text bg-background text-base;
    scrollbar-gutter: stable both-edges;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }

  select {
    @apply bg-background text-text border border-text/25 rounded-md py-2 px-4 block focus:border-accent focus:outline-none;
  }

  option {
    @apply bg-background text-text font-body;
    font-family: 'Roboto Slab', sans-serif;
  }

  input,
  textarea {
    @apply bg-background text-text border border-text/25 rounded-md py-1 px-2 block focus:border-accent focus:outline-none;
  }
}
