@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --text: 11 4 7;
    --background: 244 244 251;
    --primary: 217 102 77;
    --secondary: 223 139 139;
    --accent: 115 33 86;
  }
  .dark {
    --text: 251 244 247;
    --background: 4 4 11;
    --primary: 232 105 77;
    --secondary: 116 32 32;
    --accent: 222 140 193;
  }

  body {
    @apply font-body text-text bg-background text-base;
    scrollbar-gutter: stable both-edges;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }

  select {
    @apply bg-background text-text border border-text/25 rounded-md py-2 px-4 block focus:border-accent focus:outline-none;
  }

  option {
    @apply bg-background text-text font-body;
    font-family: 'Roboto Slab', sans-serif;
  }
}
